@import 'color';
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.main{
  width: 1200px;
  margin: 0 auto;
}

.fix::after,
.fix::before{
  content: '';
  clear: both;
  display: table;
}
// button css

.btn{
padding: 10px 40px;
text-transform: capitalize;
font-size: 18px;
display: inline-block;
border-radius: 3px;
color: $white;
&.box-btn{
  background-color: $primary-color;
  transition: .3s;
  &:hover{
    background-color: $black;
    color: $primary-color
  }
}
&.border-btn{
  border: 2px solid $primary-color;
  padding: 8px 40px;
  transition: .3s;
  &:hover{
    border-color: $black;
    color: $primary-color;
  }
}
}

a{
  text-decoration: none;
  color: $black;
  transition: .3s;
}
img{
  max-width: 100%;
  vertical-align: middle;
}
ul{
  list-style: none;
}
// background css
.bg{
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 2;
  &::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: $black;
    opacity: .75;
    z-index: -1;
  }
}

// section title css
.section-title {
  margin-bottom: 60px;
  h4 {
    text-transform: capitalize;
    font-size: 45px;
    position: relative;
    display: inline-block;
    padding-bottom: 20px;
    margin-bottom: 20px;
    &::before {
      position: absolute;
      content: '';
      width: 60px;
      height: 3px;
      background-color: $primary-color;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  p{
    max-width: 500px;
    margin: 0 auto;
   }
}

// margin and padding
@for $i from 1 through 10{
  .pt-#{$i * 10}{
    padding-top: 10px * $i;
  }
  .pb-#{$i * 10}{
    padding-bottom: 10px * $i;
  }
  .mt-#{$i * 10}{
    margin-top: 10px * $i;
  }
 .mb-#{$i * 10}{
    margin-bottom: 10px * $i;
  }
}

$list : left, center, right, justify;
@each $i in $list {
  .text-#{$i}{
    text-align: $i;
  }
}