.contact-area{
  background-color: $bg-gray;
  .single-address {
    float: left;
    width: 400px;
    i {
      font-size: 35px;
    }
    h4 {
      text-transform: uppercase;
      font-size: 24px;
      margin-top: 10px;
      span {
        display: block;
        font-size: 16px;
        font-weight: normal;
        text-transform: lowercase;
        margin-top: 5px;
      }
    }
  }

}


.contact-bottom {
  margin-top: 50px;

  .contact-form {
    float: left;
    width: 700px;
    margin-right: 50px;
    input{
      width: 100%;
      border: 1px solid $border-gray;
      padding: 10px;
      margin-bottom: 10px;
    }
    textarea {
      width: 100%;
      border: 1px solid $border-gray;
      padding: 10px;
      margin-bottom: 10px;
    }
    input[type="submit"] {
      background-color: $primary-color;
      width: auto;
      padding: 10px 40px;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: bold;
      color: $white;
      border: 0;
      cursor: pointer;
      transition: .3s;
      &:hover{
        background-color: $black;
      }
    }
     
  }

  .contact-map {
    float: right;
    width: 450px;

    iframe {
      width: 100%;
      border: 1px solid $border-gray;
      padding: 3px;
      height: 270px;
    }
  }

}


