.services-area{
  background-color: $bg-gray;
  .single-services {
    background-color: #fff;
    float: left;
    padding: 30px;
    margin-right: 30px;
    width: 370px;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    transition: .3s;
    &:last-child {
      margin-right: 0;
    }
    &:hover{
      border-color: $primary-color;
  }
  h4 {
    text-transform: capitalize;
    font-size: 22px;
    margin: 20px 0;
  }
  i {
    font-size: 20px;
    border: 1px solid #ddd;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    transition: .3s;
    &:hover{
      background-color: $primary-color;
      color: $white;
      border-color: $primary-color;
    }
  }
  
  }
}

 

 